<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Listing</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <form action="/api/mylistings/<%= item.id%>/edit" method="POST">
    <div>
      <label for="photo_url">Link to your listing photo:</label>
      <input type="text" id="photo_url" name="photo_url" value="<%= item.photo_url%>">
    </div>
    <div>
      <label for="title">Catchy headline:</label>
      <input type="text" id="title" name="title" value="<%= item.title%>">
    </div>
    <div>
      <label for="description">Tell us more...</label>
      <textarea type="text" name="description" id="description" cols="30" rows="10" ><%= item.description%></textarea>
    </div>
    <div>
      <label for="price">Price (Dollars)</label>
      <input type="text" id="price" name="price" value="<%= item.price%>">
    </div>
    <!-- TODO: Disable the catch of the day field and mention "future construction"/paid feature -->
    <!-- <div>
      <label for="is_featured">Catch of the Day</label>
      <input type="checkbox" id="is_featured" name="is_featured">
    </div> -->

    <button type="submit">Save Changes</button>

  </form>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
