<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Listing</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <section class="listing-form">
    <div class="form-banner">
      <h2> Bright updates incoming! </h2>
    </div>

    <form action="/api/mylistings/<%= item.id%>/edit" method="POST">
      <label for="title">Catchy Headline</label>
      <input type="text" id="title" name="title" value="<%= item.title%>">

      <label for="price">Price (Dollars)</label>
      <input type="text" id="price" name="price" value="<%= item.price%>">

      <label for="description">Description</label>
      <textarea type="text" name="description" id="description" cols="30" rows="10" ><%= item.description%></textarea>

      <label for="photo_url">Link to your listing photo:</label>
      <input type="text" id="photo_url" name="photo_url" value="<%= item.photo_url%>">

      <button type="submit">Save Changes</button>
    </form>
  </section>


  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
