<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favorites Page</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <section class="details-feed">
    <h2>Your Favourite Finds</h2>

    <% if (favorites) { %>
      <% for (let favorite of favorites) { %>
        <article>
          <img src="<%= favorite.photo_url%>">
          <div class="individual-details">
            <a href="/api/items/<%=favorite.item_id%>"> <%= favorite.title %></a>
            <p> <%= favorite.item_id %></p>
            <p> <%= favorite.description %></p>
            <% if (favorite.is_available === true) {%>
              <p> $<%= favorite.price %>.00</p>
            <% } else { %>
              <p> SOLD </p>
            <% } %>
          </div>
          <div class="buttons">
            <form action="/api/favorites/<%= favorite.id %>/delete" method="POST">
              <button type="submit">Remove</button>
            </form>
          </div>
          <% if (favorite.is_available === false) {%>
            <p> SOLD </p>
          <% } %>
        </article>
      <% } %>
    <% } %>
  </section>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
