<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favorites Page</title>
  <%- include('partials/head'); %>
</head>

<body>
<h2>Your Favourite Finds</h2>
  <section class="listing-tiles">
    <% for (let favorite of favorites) { %>
      <article>
        <!-- TO DO: Formatting... later! -->
        <a href="/api/items/<%=favorite.item_id%>"><%= favorite.id %></a>
        <p> <%= favorite.title %></p>
        <p> <%= favorite.price %></p>
        <p> <%= favorite.description %></p>
      </article>
    <% } %>
  </section>

</body>

</html>
