<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favorites Page</title>
  <%- include('partials/head'); %>
</head>

<body>
  <% for (let favorite of favorites) { %>
    <a href="/api/items/<%=favorite.item_id%>"><%= favorite.id %></a>
    <p> <%= favorite.title %></p>
    <p> <%= favorite.price %></p>
    <p> <%= favorite.description %></p>
  <% } %>
</body>

</html>
