<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favorites Page</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>
  <div class="title-banner">
    <h2>Your Favourite Finds</h2>
  </div>

  <section class="details-feed">
    <% if (favorites.length > 0) { %>
      <% for (const favorite of favorites) { %>
        <article>
          <a href="/api/items/<%=favorite.item_id%>"><img src="<%= favorite.photo_url%>"></a>
          <div class="individual-details">
            <p><%= favorite.title %></p>
            <p> <%= favorite.description %></p>
            <% if (favorite.is_available) {%>
              <p> $<%= favorite.price %>.00</p>
            <% } else { %>
              <p class="sold-tag"> SOLD </p>
            <% } %>
          </div>
          <div class="buttons">
            <form action="/api/favorites/<%= favorite.item_id %>/delete" method="POST">
              <button type="submit">Remove</button>
            </form>
          </div>
        </article>
      <% } %>
    <% } else { %>
      <p>Looks like you haven't saved any listings yet, why not <a class="accent-text" href="/">go shopping</a>?</p>
    <% } %>
  </section>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
