<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favorites Page</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <h2>Your Favourite Finds</h2>
  <section class="listing-tiles">
    <% for (let favorite of favorites) { %>
      <article>
        <!-- TO DO: Formatting... later! -->
        <a href="/api/items/<%=favorite.item_id%>"><%= favorite.item_id %></a>
        <p> <%= favorite.title %></p>
        <p> <%= favorite.price %></p>
        <p> <%= favorite.description %></p>
        <form action="/api/favorites/<%= favorite.id %>/delete" method="POST">
          <button type="submit">Remove</button>
        </form>

      </article>
    <% } %>
  </section>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
