<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/head'); %>
</head>

<body>

  <header>
    <%- include('partials/nav')%>
  </header>

  <section class="hero-banner">
    <article class="welcome-message">
      <p>scroll for your featured catch or...</p>
      <button id="open-cost-search">
        <span class="iconify" data-icon="bi:search-heart"></span>
        go fishing
      </button>
    </article>
    <article id="cost-search">
      <form action="/" method="GET">
        <p>What's your price range?</p>
        <div>
          <label for="min-cost">Min Cost</label>
          <input type="text" id="min-cost" name="min-cost">
        </div>
        <div>
          <label for="max-cost">Max Cost</label>
          <input type="text" id="max-cost" name="max-cost">
        </div>
        <div>
          <label for="order-by">Show by:</label>
          <select name="order-by" id="order-by">
            <option value="">----</option>
            <option value="ASC">Low to High</option>
            <option value="DESC">High to Low</option>
          </select>
        </div>
        <button type="submit">Submit</button>
      </form>
    </article>
    <img src="../images/day50-pirahna.png" alt="happy piranha logo">
  </section>

  <section class="listing-tiles">
    <% for (let item of items) { %>
      <article class="tile">
        <img src="<%= item.photo_url%>" alt="listing photograph">
        <a href="/api/items/<%=item.id%>"><%= item.title %></a>
        <p> $<%= item.price %>.00</p>
        <% if (item.is_featured) { %>
          <div class="is-catch">
            <p>catch of the day</p>
            <span class="iconify" data-icon="fa6-solid:fish"></span>
          </div>
        <% } %>

        <form   action="/api/favorites/<%= item.id %>" method="POST">
          <button type="submit">
            <span class="iconify" data-icon="il:heart"></span>
          </button>
        </form>
      </article>
    <% } %>
  </section>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>
</html>
