<!DOCTYPE html>
<html lang="en">

<head>
  <title>Marketplace Listing</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <article>
    <img src="<%= item.photo_url%>" alt="listing image">
    <h2><%= item.title %></h2>
    <div>
      <p>catch of the day</p>
      <span class="iconify" data-icon="fa6-solid:fish"></span>
    </div>
    <!-- TODO: How could we get the seller name to display in next line? -->
    <p><%= item.seller_id %></p>
    <p><%= item.description %></p>
    <p>$<%= item.price %>.00</p>
  </article>
  <div>
    <a href=#>
      <span class="iconify" data-icon="bi:chat-dots"></span>
      <p>Message Seller</p>
    </a>
  </div>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
