<!DOCTYPE html>
<html lang="en">

<head>
  <title>Marketplace Listing</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <article>
    <!-- added width just for now -->
    <img src="<%= item.photo_url%>" alt="listing image" width =360px>
    <h2><%= item.title %></h2>
    <div>
      <p>catch of the day</p>
      <span class="iconify" data-icon="fa6-solid:fish"></span>
    </div>
    <p><%= item.seller_name %></p>
    <p><%= item.description %></p>
    <p>$<%= item.price %>.00</p>
  </article>

  <% if (item.is_available) { %>
    <div>
      <a href=#>
        <span class="iconify" data-icon="bi:chat-dots"></span>
        <p>Message Seller</p>
      </a>
    </div>
    <% } else { %>
      <p>SOLD</p>
    <% } %>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
