<!DOCTYPE html>
<html lang="en">

<head>
  <title>Light Chat</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <title>Messages</title>
    <%- include('partials/nav')%>
  </header>

<main>

  <div class="title-banner">
    <h2>Conversation History</h2>
  </div>

  <div class="conversation-hero-banner">
    <h3>Your conversation with <span class="accent-text"><%= messages[0].sender_name%></span> about  <span class="accent-text"><%= messages[0].inquiry_about %></span>!</h3>
    <img src="<%= messages[0].photo_url%>">
  </div>

  <div class="details-feed">
    <% for (const message of messages) {%>
      <article>
        <div class="individual-details">
          <span class="accent-text"><%= message.sender_name%></span>
          <p><%= message.body %></p>
          <p><%= message.created_at %></p>
        </div>
      </article>
    <% } %>
    <div class="compose-message">
      <form id="chat-box" action="/api/messages" method="POST">
        <input type="hidden" id="receiver_id" name="receiver_id" value="<%= messages[0].sender_id%>">
        <input type="hidden" id="item_id" name="item_id" value="<%= messages[0].item_id%>">
        <input type="text" id="message" name="message">
        <button type="submit">
        <span class="iconify" data-icon="akar-icons:send"></span>
        </button>
      </form>
      <p class="error-text"></p>
    </div>
  </div>


</main>

<footer>
    <%- include('partials/footer')%>
</footer>

</body>
</html>
