<!DOCTYPE html>
<html lang="en">

<head>
  <title>My messages</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>


  <!-- SCIENCE TOWN CASUALTY -->

  <h2>My messages</h2>
  <section class="my-listing-feed">
    <% for (let message of messages) { %>

      <article>
         <!-- For testing purpose adjusting the photo size -->
        <div >
          <p><%= message.name %> (User ID: <%= message.sender_id %>)</p>
          <p><%= message.created_at %></p>
          <p><%= message.body %></p>
        </div>
      </article>

    <% } %>

  </section>




  <div>
    <p>OR</p>
    <a href="mailto:PLACEHOLDER_EMAIL@EMAIL.COM">PLACEHOLDER_EMAIL</a>,
    <a href="sms:PLACEHOLDER_PHONE">PLACEHOLDER_PHONE</a>
  </div>


  <!-- SPACE FOR NEW MESSAGE INPUT -->
  <form action="/api/messages" method="POST">
    <input type="text" name="message" id="message" placeholder="Type new message here">
    <button type="submit">
      <span class="iconify" data-icon="akar-icons:send"></span>
    </button>
  </form>
  </section>
  <section>
    <p>other recent chats</p>
    <!-- TODO: Endpoint determination!  -->
    <a href="#">Buyer A</a>
    <a href="#">Buyer B</a>
    <a href="#">Seller C</a>
  </section>

  </main>
  <%- include('partials/footer')%>
    </footer>
</body>

</html>
