<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <div class="listings-banner">
    <h2>Your Listings</h2>
    <a href=/api/mylistings/new>New Listing</a>
  </div>
  <section class="my-listing-feed">
    <% for (let listing of listings) { %>
      <% if(listing.seller_id) {%>
      <article>
        <img src="<%= listing.photo_url%>" width =360px> <!-- For testing purpose adjusting the photo size -->
        <div class="listing-preview">
          <p> <%= listing.id %></p> <!-- For testing purpose -->
          <p> <%= listing.title %></p>
          <p> <%= listing.description %></p>
          <p> $<%= listing.price %>.00</p>
        </div>
        <div class="listing-options">
          <a href="/api/items/<%=listing.id%>">Edit</a>
          <!-- IDEA: Could we use JQuery to give the user some kind of confirmation (sold: congrats! de-list: are you sure? Okay bye!) and refresh the page a second later? That might make for a nicer user experience! -->
          <a href=#>Mark Sold</a>
          <form action="/api/mylistings/<%= listing.id %>/delete" method="POST">
            <button type="submit">DELETE</button>
          </form>
        </div>
      </article>
      <% } %>
    <% } %>

  </section>
  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
