<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <div class="title-banner">
    <h2>Your Listings</h2>
    <a href=/api/mylistings/new>New Listing</a>
  </div>

  <section class="details-feed">
    <% for (const listing of listings) { %>
      <% if(listing.seller_id) {%>
        <article>
          <img src="<%= listing.photo_url%>">

          <div class="individual-details">
            <h3> <%= listing.title %></h3>
            <p> <%= listing.description %></p>
            <p> $<%= listing.price %>.00</p>
          </div>

          <div class="buttons">
            <% if (listing.is_available === true) { %>
              <form action="/api/mylistings/<%= listing.id %>/edit" method="GET">
                <button type="submit">EDIT</button>
              </form>
              <form action="/api/mylistings/<%= listing.id %>/sold" method="POST">
                <button type="submit">MARK SOLD</button>
              </form>
            <% } else { %>
              <p class="sold-tag">SOLD</p>
            <% } %>
            <form action="/api/mylistings/<%= listing.id %>/delete" method="POST">
              <button type="submit">DELETE</button>
            </form>
          </div>
        </article>

      <% } else { %>
        <p>You aren't selling anything lighthouse-themed right now! Click here to <a href="/api/mylistings/new" class="accent-text">post something 💡illuminating💡</a></p>
      <% } %>
    <% } %>

  </section>
  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
