<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Messages</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <main>
    <div class="title-banner">
      <h2>Your Messages</h2>
    </div>

    <div class="details-feed">
      <% if (messages.length > 0) { %>
        <% for (const message of messages) {%>
          <article>
            <a href="/api/items/<%= message.item_id%>"><img src="<%= message.photo_url%>"></a>
            <div class="individual-details">
              <p>From: <%= message.sender_name%></p>
              <p> Listing: <%= message.inquiry_about %></p>
              <p><%= message.created_at %></p>
              <p class="message-contents"><%= message.body %></p>
            </div>
            <div class="buttons">
              <p>follow up?</p>
              <a href="mailto:<%= message.email %>">EMAIL</a>
              <a href="sms:<%= message.phone %>">TEXT</a>
              <a href="/api/messages/conversation/<%= message.id %>">LIGHT CHATS</a>
            </div>
          </article>
        <% } %>
      <%} else {%>
        <p>No messages! Get people talking by putting your best and brightest <a href="api/mylistings/new" class="accent-text">up for sale</a>!</p>
      <% } %>
    </div>
  </main>
  <%- include('partials/footer')%>
</body>
</html>
