<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Messages</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <title>Messages</title>
    <%- include('partials/nav')%>
  </header>


  <main>
    <div class="title-banner">
      <h2>Your Messages</h2>
    </div>

    <div class="details-feed">
      <% for (const message of messages) {%>
        <article>
          <img src="<%= message.photo_url%>">
          <div class="individual-details">
            <p>From: <%= message.sender_name%></p>
            <p> Listing: <%= message.inquiry_about %></p>
            <p><%= message.created_at %></p>
            <p class="message-contents"><%= message.body %></p>
          </div>
          <div class="buttons">
            <p>follow up?</p>
            <a href="mailto:<%= message.email %>">EMAIL</a>
            <a href="sms:<%= message.phone %>">TEXT</a>
            <a href="/api/messages/conversation/<%= message.id %>">LIGHT-CHAT</a>
          </div>
        </article>
      <% } %>
    </div>
  </main>
  <%- include('partials/footer')%>
</body>
</html>
