<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <title>Messages</title>
    <%- include('partials/nav')%>
  </header>


<main>

  <p>Inquiries</p>

    <div>
    <% for (const message of messages) {%>
      <article>
        <div class="indivisual_message">
          <p> SENT FROM <%= message.message_from%></p>
          <p> MESSAGE ABOUT <%= message.inquiry_about %></p>
          <p> SENT AT <%= message.created_at %></p>
          <p> MESSAGE <%= message.body %></p>
        </div>
        <div class="message-options">
          <div>
            <a href="mailto: <%= message.email %>">EMAIL</a>,
            <a href="sms:message.phone"> PHONE</a>
          </div>
          <form action="/api/message/<%= message.id %>/read" method="POST">
            <button type="submit">Mark READ</button>
          </form>
          <form action="/api/message/<%= message %>/delete" method="POST">
            <button type="submit">DELETE</button>
          </form>
        </div>
      </article>
    <% } %>
  </main>


    <!-- SPACE FOR NEW MESSAGE INPUT -->
    <form action="/api/messages" method="POST">
      <input type="text" name="message" id="message" placeholder="Type new message here">
      <button type="submit">
        <span class="iconify" data-icon="akar-icons:send"></span>
      </button>
    </form>
  </section>
  <section>
    <p>other recent chats</p>
    <!-- TODO: Endpoint determination!  -->
    <a href="#">Buyer A</a>
    <a href="#">Buyer B</a>
    <a href="#">Seller C</a>
  </section>

  </main>
    <%- include('partials/footer')%>
  </footer>
</body>
</html>
