<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <title>Messages</title>
    <%- include('partials/nav')%>
  </header>

  <section class="my-message-feed">
    <div class="chatter-banner">
      <% for (let message of messages) { %>
      <p>Messages with <%= message.placeholder_name %></p>
      <div>
        <p>OR</p>
        <a href="mailto:PLACEHOLDER_EMAIL@EMAIL.COM"><%= message.placeholder_name.toUpperCase() %>_EMAIL</a>,
        <a href="sms:PLACEHOLDER_PHONE"><%= message.placeholder_name.toUpperCase() %>_PHONE</a>
      </div>
    </div>

        <article>
          <!-- TO DO: Formatting... later! -->
          <p><%= message.placeholder_name %></p>
          <p> <%= message.created_at %></p>
          <p> <%= message.body %></p>
        </article>
      <% } %>

    <!-- SPACE FOR NEW MESSAGE INPUT -->
    <form action="/api/messages" method="POST">
      <input type="text" name="message" id="message" placeholder="Type new message here">
      <button type="submit">
        <span class="iconify" data-icon="akar-icons:send"></span>
      </button>
    </form>
  </section>
  <section>
    <p>other recent chats</p>
    <!-- TODO: Endpoint determination!  -->
    <a href="#">Buyer A</a>
    <a href="#">Buyer B</a>
    <a href="#">Seller C</a>
  </section>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>
</html>
